*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0d0d0d;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #a855f7;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav  li a{
    text-decoration: none;
    color: #ccc;
    font-size: 18px;
    transition: color 0.3s ease;
}
.nav  li a:hover{
    color: #a855f7;
}
.contact-button{
padding: 8px 16px;
border: 1px solid #a855f7;
text-decoration: none;
border-radius: 8px;
transition: all 0.3s ease;
color: white;
}
.contact-button:hover{
    background: #a855f7;
    color: black;
}

.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hello{
    font-size: 45px;
    font-weight: 400;
}
.hero-content h1{
    font-size: 50px;
}
.hero-content h2{
    color: #bdbdbd;
    font-size: 30px;
}
.description{
    color: #cfcfcf;
    font-size: 18px;
    line-height: 1.5;
    max-width: 500px;
}
.hero-button{
    display: flex;
    gap: 20px;
}
.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.circle{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid #8b5cf6;

    box-shadow:
    0 0 20px #8b5cf6,
    0 0 50px rgba(139,92,246,.5);
}
.btn-primary{
    background:#8b5cf6;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background:#7c3aed;
    transform: translateY(-3px);
}
.btn-secondary{
    border:2px solid #8b5cf6;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    transition: all 0.3s ease;
}
.btn-secondary:hover{
    background:#8b5cf6;
    transform: translateY(-3px);
}
.skills{
    padding:100px 80px;
    text-align:center;
}
h2{
    font-size: 45px;
    margin-bottom: 50px;
}
.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:60px;
    max-width: 960px;
    margin: 0 auto;
}

.card{
    width:170px;
    height:220px;
    background:#161616;
    border:1px solid #333;
    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition: all 0.3s ease;
}
.card img{
    width:100px;
    margin-bottom:20px;
}
.cgroup img{
width:200px;
}
.card h3{
    color:white;
    transition: all 0.3s ease;
}
.csharp:hover{
    border-color:#9B4F96;
    box-shadow:0 0 20px #9B4F96;
    transform: translateY(-8px);
}
.html:hover{
    border-color:#E34F26;
    box-shadow:0 0 20px #E34F26;
    transform: translateY(-8px);
}
.css:hover{
    border-color:#1572B6;
    box-shadow:0 0 20px #1572B6;
    transform: translateY(-8px);
}
.python:hover{
    border-color:#3776AB;
    box-shadow:0 0 20px #3776AB;
    transform: translateY(-8px);
}
.java:hover{
    border-color:#F89820;
    box-shadow:0 0 20px #F89820;
    transform: translateY(-8px);
}
.js:hover{
    border-color:#F7DF1E;
    box-shadow:0 0 20px #F7DF1E;
    transform: translateY(-8px);
}
.php:hover{
    border-color: #777BB4;
    box-shadow: 0 0 20px #777BB4;
    transform: translateY(-8px);
}
.cpp:hover{
    border-color:#00599C;
    box-shadow:0 0 20px #00599C;
    transform: translateY(-8px);
}